{% extends 'home.html' %}
{% block extend_head%}
<script>
         $(document).ready(function() {
         $('select').material_select();
      });
      $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
            });
    </script>
{% endblock%}

{% block body%}
<div class="container">
    <h1>Assign Task</h1>
    {% if admin_users %}
    <div class="row">
        <form class="col s8" method="post" action="{% url 'task_management:assign_task' %}">
            {% csrf_token %}

            <div class="row">
                <span style="color: red">{{ form.errors.title }}</span>
                <div class="input-field col s6">

                    <input id="title" type="text" data-length="50" name="title" maxlength="50">
                    <label for="title">Title</label>
                </div>
            </div>
            <div class="row">
                <span style="color: red">{{ form.errors.title }}</span>
                <div class="input-field col s12">
                    <input id="description" type="text" class="validate" name="description">
                    <label for="description">Task Description</label>
                </div>
            </div>

            <div class="row">
                <span style="color: red">{{ form.errors.title }}</span>
                <label>Select the uploader</label>
                <select name="assign_to">
                    {% for admin_user in admin_users %}
                        <option value="{{ admin_user.id}}">{{ admin_user.username}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <span style="color: red">{{ form.errors.title }}</span>
                <label>Select due date</label>
                <input type="date" class="datepicker" name="due_date">
            </div>

            <div class='row'>
                <button type='submit' class='col s12 btn btn-large waves-effect indigo'>Submit Task</button>
              </div>
        </form>
    </div>
    {% else %}

    <h5>You don't have any uploaders; add uploaders !!!!</h5>

    {% endif %}
</div>
{% endblock %}
<script>
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
            });
</script>