{% extends 'home.html' %}
{% block body%}
    {% if tasks %}
        {% for task in tasks %}
            <div class="row">
                <div class="col m12 l12">
                    <div class="card blue-grey darken-2">
                        <div class="card-content white-text">
                            <span class="card-title">{{ task.title }}: </span>
                            <p>{{ task.description }}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'task_management:task' task.id%}">Open task</a>
                            <a href="#">Mark as complete</a>
                            <!--<a href="#">Mark as Maa chuda</a>-->
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
{% endblock %}